@import './var.css';

html {
  scrollbar-gutter: stable;
}

@supports not (scrollbar-gutter: stable) {
  html {
    overflow-y: scroll;
  }
}

body {
  min-height: 100vh;
  font-family: var(--font-family-base);
  background-color: #5496dd;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: brightness(0.85);
  transition: background 0.3s ease;
}

body[data-bs-theme='dark'] {
  backdrop-filter: brightness(0.5);
}

[data-bs-theme='light'] {
  --bs-body-bg: rgba(255, 255, 255, 0.41);
  --bs-dropdown-bg: rgba(255, 255, 255, 0.7);
}

[data-bs-theme='dark'] {
  --bs-body-bg: rgba(0, 0, 0, 0.65);
  --bs-dropdown-bg: rgba(0, 0, 0, 0.7);
}

.dragover {
  outline: 4px dashed #ffc400;
  outline-offset: -20px;
}

.container {
  padding: 1rem;
}

.page-title {
  font-size: 1.9rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
  letter-spacing: -0.02em;
  color: var(--text-title-color, #333);
  transition: color 0.5s ease;
}

[data-bs-theme='dark'] .page-title,
[data-bs-theme='light'] .page-title,
body.bg-dark .page-title,
body.bg-light .page-title {
  color: var(--text-title-color) !important;
}

.page-subtitle {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 0;
  color: var(--text-primary-color, #fff);
  transition: color 0.5s ease;
}

:root.text-color-transitioning * {
  transition: color 0.5s ease !important;
}

.card {
  border: none;
  border-radius: 12px;
  backdrop-filter: blur(3px);
}

.card-header {
  border-radius: 12px 12px 0 0 !important;
  padding: 1rem 1.25rem;
  backdrop-filter: blur(1px);
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.card-body {
  padding: 1.25rem;
}

.card-body p {
  font-size: 0.9rem;
  line-height: 1.6;
}

.card-body p.pre-line {
  white-space: pre-line;
}
